.details{
	width: 100%;
}

.details table{
	margin-bottom: .5rem;
}

.details table td{
	width: 55%;
	height: 3rem;
	padding: 1.5rem;
	font-size: 1.5rem;
}

.details table a{
	border: .05rem solid #aaa;
	border-radius: .5rem;
	padding: 1rem;
	color: #000;
	font-size: 1.5rem;
	text-decoration: none;
}

.details table input[type=text]{
	width: 100%;
	padding: .3rem;
}

select{
	width: 20rem;
	padding: .5rem;
}

option{
	font-size: 1.5rem;
}

button{
	border: 0;
	background-color: #f2f2f2;
}