				<h1>Grievance Details</h1>

					<div class="showentries">
		              Show <select name="entry" type="text" >
			               <option value="10">10</option>
			               <option value="20" >20</option>
			               <option value="50">50</option>
			               <option value="100">100</option>
					   </select> Entries
					</div>

					<div class="search">
						Search: <input type="text" name="search">
					</div>

				<div class="content-table">
					<table>
						<tr>
							<td>S. No.</td>
							<td>Grievance No.</td>
							<td>Grievance Type</td>
							<td>Date</td>
							<td>Subject</td>
							<td>Grievance</td>
							<td>Status</td>
							<td>Action</td>
						</tr>
					</table>
				</div>

				<div class="content-table-data">
					<p>No data available.</p>
				</div>

				<div class="nav-button">
					<a>Previous</a>
					<a>Next</a>
				</div>
