<form method='post' action="/Admin/grvtype_add">
    <input type="text" placeholder="Enter type" name="grvtype"/>
    <input type="text" placeholder="Enter Description" name="description"/>

    <button type="submit">Add</button>
</form>