<h2><%= title%> update</h2>
<div>
    <form method="post" action="/faculty/update" >
                   <input type="text" placeholder="Enter name" name="name"  />
                   <input type="text" placeholder="Enter employee id" name="id"  />
                   <input type="text" placeholder="Enter department" name="dep"  />
                   <input type="text" placeholder="Enter designation" name="Desig"  />
                   <button type="submit">Update</button>
                  </form>
            </div>