<h1><%=  title%>update</h1>
<div>
<form method="post" action="/Parent/update" >
			   <input type="text" placeholder="Enter name" name="name"  />
			   <input type="text" placeholder="Enter course completion date" name="cdate"  />
		       <input type="text" placeholder="Enter relation" name="relation"  />
		       <button type="submit">Register</button>
  			</form>
		</div>