<h2><%= title%> update</h2>
<div>
    <form method="post" action="/Student/update" >
                   <input type="text" placeholder="Enter name" name="name"  />
                   <input type="text" placeholder="Enter course completion date" name="cdate"  />
                   <input type="text" placeholder="Enter id" name="id"/>
                   <input type="text" placeholder="Enter batch" name="Batch"/>
                   <button type="submit">Register</button>
                  </form>
            </div>