<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="HandheldFriendly" content="true">
	<title>AGC</title>

	<script src="javascripts/jquery.js"></script>
	<script src="/angular/angular.min.js"></script>
	<script src="/angular-route/angular-route.js"></script>
	
	<!-- Bootstrap CSS CDN -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

	<!-- Font Awesome JS -->
	<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

	<link rel="stylesheet" type="text/css" href="/stylesheets/home.css">

</head>

<body>

	<nav id="mainnavbar" class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
		
		<!--Navbar for main panel (home, about,,,,,)-->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<a href="https://anandice.ac.in/" target="_blank"><img id="logo" src="../images/a.png"></a>

		<!--Login button for sidebar panel navbar-->
		<button class="navbar-toggler padding-00" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
			<span class="btn btn-primary">Login</span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false">
				<li class="nav-item active">
					<a class="nav-link" id="home">HOME <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#about-us">ABOUT</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#contact">CONTACT</a>
				</li>
			</ul>
		</div>

		<!--this is top menu/login panel for mobile versions-->
		<div class="collapse navbar-collapse wrapper navwrapper" id="sidebar">
			<ul class="list-unstyled components d-lg-none d-xl-none" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false">
				<li>
					<a class="admin-login" href="#">admin</a>
				</li>
				<li>
					<a class="management-login" href="#">management</a>
				</li>
				<li>
					<a class="faculty-login" href="#">faculty</a>
				</li>
				<li>
					<a class="gcm-login" href="#">Grievance cell member</a>
				</li>
				<li>
					<a class="student-login" href="#">student</a>
				</li>
				<li>
					<a class="parent-login" href="#">parent</a>
				</li>
				<li>
					<a class="nonteaching-login" href="#">nonteaching</a>
				</li>
			</ul>
		</div>

	</nav>

	<div class="container-fluid row margin-0 padding-0">
		<div class="col-lg-9 padding-0">
			<div id="background">
				<div id="layer">

					<div class="container-fluid">
						<div class="heading">
							<h1 id="heading1">GRIEVANCE REDRESSAL</h1>
							<h1 id="heading2">PORTAL</h1>
						</div>
					</div>

					<!--here starts the forms for login and register-->
					<!--login forms-->

					<!--admin login form-->
					<section class="forms adminlogin">
						<div class="row margin-0 padding-0">
							<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 padding-0">
								<div class="left-form-image">
									<div class="left-form-image-layer">
										<div class="closebtn">
											<i class="fas fa-times"></i>
										</div>
										<h1>WELCOME TO</h1>
										<h5>GRIEVANCE REDRESSAL PORTAL</h5>
										<ul>
											<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</li>
											<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</li>
											<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 padding-0">
								<div class="form-content">
									<form class="form-group" name="adminlogin">
										<h3>Admin Login</h3>
										<div class="input-group">
											<input type="text" class="form-control" name="id" placeholder="Username">
											<span id="adminid" class="input-group-addon"><i class="fas fa-check hide"></i><i class="fas fa-times hide" title="wrong"></i></span>
										</div>
										<div class="input-group">
											<input type="password" class="form-control" name="password" placeholder="Password">
											<span id="adminpass" class="input-group-addon"><i class="fas fa-check hide"></i><i class="fas fa-times hide"></i></span>
										</div>
										<span id="adminerror" class="errors"></span>
										<label class="radio-inline">Remember me.
											<input type="checkbox" name="remember">
											<span class="checkmark"></span>
										</label>
										<br>
										<a href="#" class="Admin_forgotpassword">Forgot Password?</a>
										<br>
										<input type="submit" class="btn btn-primary" id="adminlogin" value="Login">
									</form>
								</div>
							</div>
						</div>
					</section>

					<section class="forms mngmntlogin">
						<div class="row margin-0 padding-0">
							<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 padding-0">
								<div class="left-form-image">
									<div class="left-form-image-layer">
										<div class="closebtn">
											<i class="fas fa-times"></i>
										</div>
										<h1>WELCOME TO</h1>
										<h5>GRIEVANCE REDRESSAL PORTAL</h5>
										<ul>
											<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</li>
											<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</li>
											<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 padding-0">
								<div class="form-content">
									<form class="form-group" name="mngmntlogin">
										<h3>Management Login</h3>
										<div class="input-group">
											<input type="text" class="form-control" name="id" placeholder="Username" required>
											<span id="mngmntid" class="input-group-addon"><i class="fas fa-check hide"></i><i class="fas fa-times hide"></i></span>
										</div>
										<div class="input-group">
											<input type="password" class="form-control" name="password" placeholder="Password">
											<span id="mngmntpass" class="input-group-addon"><i class="fas fa-check hide"></i><i class="fas fa-times hide"></i></span>
										</div>
										<span id="mngmnterror" class="errors"></span>
										<label class="radio-inline">Remember me.
											<input type="checkbox">
											<span class="checkmark"></span>
										</label>
										<br>
										<a href="#" class="mngmnt_forgotpassword">Forgot Password?</a>
										<br>
										<input type="submit" id="mngmntlogin" class="btn btn-primary" name="" value="Login">
									</form>
								</div>
							</div>
						</div>
					</section>

					<section class="forms facultylogin">
						<div class="row margin-0 padding-0">
							<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 padding-0">
								<div class="left-form-image">
									<div class="left-form-image-layer">
										<div class="closebtn">
											<i class="fas fa-times"></i>
										</div>
										<h1>WELCOME TO</h1>
										<h5>GRIEVANCE REDRESSAL PORTAL</h5>
										<ul>
											<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</li>
											<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</li>
											<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 padding-0">
								<div class="form-content">
									<form class="form-group" name="facultylogin">
										<h3>Faculty Login</h3>
										<div class="input-group">
											<input type="text" class="form-control" name="id" placeholder="Username" required>
											<span id="facultyid" class="input-group-addon"><i class="fas fa-check hide"></i><i class="fas fa-times hide"></i></span>
										</div>
										<div class="input-group">
											<input type="password" class="form-control" name="password" placeholder="Password">
											<span id="facultypass" class="input-group-addon"><i class="fas fa-check hide"></i><i class="fas fa-times hide"></i></span>
										</div>
										<span id="facultyerror" class="errors"></span>
										<label class="radio-inline">Remember me.
											<input type="checkbox">
											<span class="checkmark"></span>
										</label>
										<br>
										<a href="#" class="Faculty_forgotpassword">Forgot Password?</a>
										<br>
										<input type="submit" id="facultylogin" class="btn btn-primary" name="" value="Login">
										<br>
										<label>DON'T HAVE AN ACCOUNT? <a href="#" id="facultysignup">SIGN UP</a></label>
									</form>
								</div>
							</div>
						</div>
					</section>

					<section class="forms gcmlogin">
						<div class="row margin-0 padding-0">
							<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 padding-0">
								<div class="left-form-image">
									<div class="left-form-image-layer">
										<div class="closebtn">
											<i class="fas fa-times"></i>
										</div>
										<h1>WELCOME TO</h1>
										<h5>GRIEVANCE REDRESSAL PORTAL</h5>
										<ul>
											<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</li>
											<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</li>
											<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 padding-0">
								<div class="form-content">
									<form class="form-group" name="gcmlogin">
										<h3>Grievance Cell Member Login</h3>
										<div class="input-group">
											<input type="text" class="form-control" name="id" placeholder="Username" required>
											<span id="gcmid" class="input-group-addon"><i class="fas fa-check hide"></i><i class="fas fa-times hide"></i></span>
										</div>
										<div class="input-group">
											<input type="password" class="form-control" name="password" placeholder="Password">
											<span id="gcmpass" class="input-group-addon"><i class="fas fa-check hide"></i><i class="fas fa-times hide"></i></span>
										</div>
										<span id="gcmerror" class="errors"></span>
										<label class="radio-inline">Remember me.
											<input type="checkbox">
											<span class="checkmark"></span>
										</label>
										<br>
										<a href="#" class="Gcm_forgotpassword">Forgot Password?</a>
										<br>
										<input type="submit" id="gcmlogin" class="btn btn-primary" name="" value="Login">
									</form>
								</div>
							</div>
						</div>
					</section>

					<section class="forms studentlogin">
						<div class="row margin-0 padding-0">
							<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 padding-0">
								<div class="left-form-image">
									<div class="left-form-image-layer">
										<div class="closebtn">
											<i class="fas fa-times"></i>
										</div>
										<h1>WELCOME TO</h1>
										<h5>GRIEVANCE REDRESSAL PORTAL</h5>
										<ul>
											<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</li>
											<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</li>
											<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 padding-0">
								<div class="form-content">
									<form class="form-group" name="studentlogin">
										<h3>Student Login</h3>
										<div class="input-group">
											<input type="text" class="form-control" name="id" placeholder="Username" required>
											<span id="studentid" class="input-group-addon"><i class="fas fa-check hide"></i><i class="fas fa-times hide"></i></span>
										</div>
										<div class="input-group">
											<input type="password" class="form-control" name="password" placeholder="Password">
											<span id="studentpass" class="input-group-addon"><i class="fas fa-check hide"></i><i class="fas fa-times hide"></i></span>
										</div>
										<span id="studenterror" class="errors"></span>
										<label class="radio-inline">Remember me.
											<input type="checkbox">
											<span class="checkmark"></span>
										</label>
										<br>
										<a href="#"  class="Student_forgotpassword">Forgot Password?</a>
										<br>
										<input type="submit" id="studentlogin" class="btn btn-primary" name="" value="Login">
										<br>
										<label>DON'T HAVE AN ACCOUNT? <a href="#" id="studentsignup">SIGN UP</a></label>
									</form>
								</div>
							</div>
						</div>
					</section>

					<section class="forms parentlogin">
						<div class="row margin-0 padding-0">
							<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 padding-0">
								<div class="left-form-image">
									<div class="left-form-image-layer">
										<div class="closebtn">
											<i class="fas fa-times"></i>
										</div>
										<h1>WELCOME TO</h1>
										<h5>GRIEVANCE REDRESSAL PORTAL</h5>
										<ul>
											<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</li>
											<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</li>
											<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 padding-0">
								<div class="form-content">
									<form class="form-group" name="parentlogin">
										<h3>Parent Login</h3>
										<div class="input-group">
											<input type="text" class="form-control" name="id" placeholder="Username" required>
											<span id="parentid" class="input-group-addon"><i class="fas fa-check hide"></i><i class="fas fa-times hide"></i></span>
										</div>
										<div class="input-group">
											<input type="password" class="form-control" name="password" placeholder="Password">
											<span id="parentpass" class="input-group-addon"><i class="fas fa-check hide"></i><i class="fas fa-times hide"></i></span>
										</div>
										<span id="parenterror" class="errors"></span>
										<label class="radio-inline">Remember me.
											<input type="checkbox">
											<span class="checkmark"></span>
										</label>
										<br>
										<a href="#" class="Parent_forgotpassword">Forgot Password?</a>
										<br>
										<input type="submit" id="parentlogin" class="btn btn-primary" name="" value="Login">
										<br>
										<label>DON'T HAVE AN ACCOUNT? <a href="#" id="parentsignup">SIGN UP</a></label>
									</form>
								</div>
							</div>
						</div>
					</section>

					<section class="forms nonteachinglogin">
						<div class="row margin-0 padding-0">
							<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 padding-0">
								<div class="left-form-image">
									<div class="left-form-image-layer">
										<div class="closebtn">
											<i class="fas fa-times"></i>
										</div>
										<h1>WELCOME TO</h1>
										<h5>GRIEVANCE REDRESSAL PORTAL</h5>
										<ul>
											<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</li>
											<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</li>
											<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 padding-0">
								<div class="form-content">
									<form class="form-group" name="nonteachinglogin">
										<h3>NonTeaching Login</h3>
										<div class="input-group">
											<input type="text" class="form-control" name="id" placeholder="Username" required>
											<span id="nonteachingid" class="input-group-addon"><i class="fas fa-check hide"></i><i class="fas fa-times hide"></i></span>
										</div>
										<div class="input-group">
											<input type="password" class="form-control" name="password" placeholder="Password">
											<span id="nonteachingpass" class="input-group-addon"><i class="fas fa-check hide"></i><i class="fas fa-times hide"></i></span>
										</div>
										<span id="nonteachingerror" class="errors"></span>
										<label class="radio-inline">Remember me.
											<input type="checkbox">
											<span class="checkmark"></span>
										</label>
										<br>
										<a href="#" id="Staff_forgotpassword" class="Staff_forgotpassword">Forgot Password?</a>
										<br>
										<input type="submit" id="nonteachinglogin" class="btn btn-primary" name="" value="Login">
										<br>
										<label>DON'T HAVE AN ACCOUNT? <a href="#" id="nonteachingsignup">SIGN UP</a></label>
									</form>
								</div>
							</div>
						</div>
					</section>

					
					<!--signup forms-->

					<!--faculty sign up form-->
					<section class="forms faculty-reg-form">
						<div class="row margin-0 padding-0">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-0">
								<div class="closebtn">
									<i class="fas fa-times"></i>
								</div>
								<div class="form-content signup">
									<form class="form-group">
										<h3>Faculty Sign Up</h3>
										<div class="row">
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
												<label>FULL NAME</label>
												<input type="text" class="form-control" name="" placeholder="Name">
											</div>
											<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
												<label>gender</label><br>
												<label class="radio-inline">male<input type="radio" name="optradio"><span class="checkmark"></span></label>
												<label class="radio-inline">female<input type="radio" name="optradio"><span class="checkmark"></span></label>
												<label class="radio-inline">other<input type="radio" name="optradio"><span class="checkmark"></span></label>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
												<label for="dep">department</label>
												<select class="form-control" id="dep">
													<option>CS</option>
													<option>EE</option>
													<option>ME</option>
													<option>EC</option>
													<option>CE</option>
												</select>
											</div>
											<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
												<label>designation</label>
												<input type="text" class="form-control" name="" placeholder="Designation">
											</div>
										</div>
										<div class="row">
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
												<label>employee id</label>
												<input type="text" class="form-control" name="" placeholder="Employee ID">
											</div>
											<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
												<label>email id</label>
												<input type="email" class="form-control" name="" placeholder="Email ID">
											</div>
										</div>
										<div class="row">
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
												<label>mobile no.</label>
												<input type="number" class="form-control" name="" placeholder="Mobile No.">
											</div>
											<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
												<label>password</label>
												<input type="password" class="form-control" name="" placeholder="Password">
											</div>
										</div>
										<div class="row">
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
												<label>confirm PASSWORD</label>
												<input type="password" class="form-control" name="" placeholder="Confirm Password">
											</div>
											<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
												
											</div>
										</div>
										<input type="submit" class="btn btn-primary" name="" value="Sign Up">
										<br>
										<label>ALREADY HAVE AN ACCOUNT? <a href="#" class="faculty-login">SIGN IN</a></label>
									</form>
								</div>
							</div>
						</div>
					</section>

					<!--student signup form-->
					<section class="forms student-reg-form">
						<div class="row margin-0 padding-0">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-0">
								<div class="closebtn">
									<i class="fas fa-times"></i>
								</div>
								<div class="form-content signup">
									<form class="form-group" name="studentsignup">
										<h3>Student Sign Up</h3>
										<div class="row">
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
												<label>FULL NAME</label>
												<input type="text" class="form-control" name="name" placeholder="Name">
											</div>
											<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
												<label>gender</label><br>
												<label class="radio-inline">male<input type="radio" name="gender" value="M"><span class="checkmark"></span></label>
												<label class="radio-inline">female<input type="radio" name="gender" value="F"><span class="checkmark"></span></label>
												<label class="radio-inline">other<input type="radio" name="gender" value="O"><span class="checkmark"></span></label>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
												<label>department</label>
												<select class="form-control" name="dep">
													<option value="First Year">First Year</option>
													<option value="CS">CS</option>
													<option value="EE">EE</option>
													<option value="ME">ME</option>
													<option value="EC">EC</option>
													<option value="CE">CE</option>
												</select>
											</div>
											<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
												<label>batch/class</label>
												<select class="form-control" name="batch">
													<option value="First year">First Year</option>
													<option value="Second year" >Second Year</option>
													<option value="Third year">Third Year</option>
													<option value="Final year">Final Year</option>
												</select>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
												<label>college id</label>
												<input type="text" class="form-control" name="id" placeholder="College ID">
											</div>
											<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
												<label>Course completion date</label>
												<input type="date" class="form-control" name="cdate">
											</div>
										</div>
										<div class="row">
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
												<label>email id</label>
												<input type="email" class="form-control" name="email" placeholder="Email ID">
											</div>
											<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
												<label>mobile no.</label>
												<input type="number" class="form-control" name="mobile" placeholder="Mobile No.">
											</div>
										</div>
										<div class="row">
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
												<label>password</label>
												<input type="password" class="form-control" name="password" placeholder="Password">
											</div>
											<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
												<label>confirm PASSWORD</label>
												<input type="password" class="form-control" name="password2" placeholder="Confirm Password">
											</div>
										</div>
										<input type="submit" id="studentsignup" class="btn btn-primary" name="" value="Sign Up">
										<br>
										<label>ALREADY HAVE AN ACCOUNT? <a href="#" class="student-login">SIGN IN</a></label>
									</form>
								</div>
							</div>
						</div>
					</section>

					<!--parent signup form-->
					<section class="forms parent-reg-form">
						<div class="row margin-0 padding-0">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-0">
								<div class="closebtn">
									<i class="fas fa-times"></i>
								</div>
								<div class="form-content signup">
									<form class="form-group">
										<h3>Parent Sign Up</h3>
										<div class="row">
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
												<label>FULL NAME</label>
												<input type="text" class="form-control" name="" placeholder="Name">
											</div>
											<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
												<label>email id</label>
												<input type="email" class="form-control" name="" placeholder="Email ID">
											</div>
										</div>
										<div class="row">
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
												<label>college id</label>
												<input type="text" class="form-control" name="" placeholder="College ID Of Student">
											</div>
											<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
												<label>Course completion date</label>
												<input type="date" class="form-control" name="">
											</div>
										</div>
										<div class="row">
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
												<label>relation</label>
												<input type="text" class="form-control" name="relation" placeholder="Relation">
											</div>
											<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
												<label>mobile no.</label>
												<input type="number" class="form-control" name="" placeholder="Mobile No.">
											</div>
										</div>
										<div class="row">
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
												<label>password</label>
												<input type="password" class="form-control" name="" placeholder="Password">
											</div>
											<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
												<label>confirm PASSWORD</label>
												<input type="password" class="form-control" name="" placeholder="Confirm Password">
											</div>
										</div>
										<input type="submit" class="btn btn-primary" name="" value="Sign Up">
										<br>
										<label>ALREADY HAVE AN ACCOUNT? <a href="#" class="parent-login">SIGN IN</a></label>
									</form>
								</div>
							</div>
						</div>
					</section>

					<!--Nonteaching signup form-->
					<section class="forms nonteaching-reg-form">
						<div class="row margin-0 padding-0">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-0">
								<div class="closebtn">
									<i class="fas fa-times"></i>
								</div>
								<div class="form-content signup">
									<form class="form-group">
										<h3>NonTeaching Sign Up</h3>
										<div class="row">
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
												<label>FULL NAME</label>
												<input type="text" class="form-control" name="" placeholder="Name">
											</div>
											<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
												<label>gender</label><br>
												<label class="radio-inline">male<input type="radio" name="optradio"><span class="checkmark"></span></label>
												<label class="radio-inline">female<input type="radio" name="optradio"><span class="checkmark"></span></label>
												<label class="radio-inline">other<input type="radio" name="optradio"><span class="checkmark"></span></label>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
												<label for="dep">department</label>
												<select class="form-control" id="dep">
													<option>CS</option>
													<option>EE</option>
													<option>ME</option>
													<option>EC</option>
													<option>CE</option>
												</select>
											</div>
											<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
												<label>designation</label>
												<input type="text" class="form-control" name="" placeholder="Designation">
											</div>
										</div>
										<div class="row">
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
												<label>employee id</label>
												<input type="text" class="form-control" name="" placeholder="Employee ID">
											</div>
											<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
												<label>email id</label>
												<input type="email" class="form-control" name="" placeholder="Email ID">
											</div>
										</div>
										<div class="row">
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
												<label>mobile no.</label>
												<input type="number" class="form-control" name="" placeholder="Mobile No.">
											</div>
											<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
												<label>password</label>
												<input type="password" class="form-control" name="" placeholder="Password">
											</div>
										</div>
										<div class="row">
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
												<label>confirm PASSWORD</label>
												<input type="password" class="form-control" name="" placeholder="Confirm Password">
											</div>
											<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
												
											</div>
										</div>
										<input type="submit" class="btn btn-primary" name="" value="Sign Up">
										<br>
										<label>ALREADY HAVE AN ACCOUNT? <a href="#" class="nonteaching-login">SIGN IN</a></label>
									</form>
								</div>
							</div>
						</div>
					</section>


					<!--forgot password form-->

					<section class="forms Admin_forgotpass">
						<div class="row margin-0 padding-0">
							<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 padding-0">
								<div class="left-form-image">
									<div class="left-form-image-layer">
										<div class="closebtn">
											<i class="fas fa-times"></i>
										</div>
										<h1>WELCOME TO</h1>
										<h5>GRIEVANCE REDRESSAL PORTAL</h5>
										<ul>
											<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</li>
											<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</li>
											<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 padding-0">
								<div class="form-content">
									<form class="form-group" name="Admin_forgotpass">
										<h3>Forgot Your Password?</h3>
										<small>An email will be sent to the registered mail address.</small>
										<div class="input-group">
											<input type="text" class="form-control" name="email" placeholder="Email">
											<span id="forgotemail" class="input-group-addon"><i class="fas fa-check hide"></i><i class="fas fa-times hide" title="wrong"></i></span>
										</div>
										<br>
										<br>
										<input type="submit" class="btn btn-primary" id="Admin_forgotpass" value="Send Email">
									</form>
								</div>
							</div>
						</div>
					</section>

					<section class="forms Gcm_forgotpass">
						<div class="row margin-0 padding-0">
							<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 padding-0">
								<div class="left-form-image">
									<div class="left-form-image-layer">
										<div class="closebtn">
											<i class="fas fa-times"></i>
										</div>
										<h1>WELCOME TO</h1>
										<h5>GRIEVANCE REDRESSAL PORTAL</h5>
										<ul>
											<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</li>
											<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</li>
											<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 padding-0">
								<div class="form-content">
									<form class="form-group" name="Gcm_forgotpass">
										<h3>Forgot Your Password?</h3>
										<small>An email will be sent to the registered mail address.</small>
										<div class="input-group">
											<input type="text" class="form-control" name="email" placeholder="Email">
											<span id="forgotemail" class="input-group-addon"><i class="fas fa-check hide"></i><i class="fas fa-times hide" title="wrong"></i></span>
										</div>
										<br>
										<br>
										<input type="submit" class="btn btn-primary" id="Gcm_forgotpass" value="Send Email">
									</form>
								</div>
							</div>
						</div>
					</section>

					<section class="forms mngmnt_forgotpass">
						<div class="row margin-0 padding-0">
							<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 padding-0">
								<div class="left-form-image">
									<div class="left-form-image-layer">
										<div class="closebtn">
											<i class="fas fa-times"></i>
										</div>
										<h1>WELCOME TO</h1>
										<h5>GRIEVANCE REDRESSAL PORTAL</h5>
										<ul>
											<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</li>
											<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</li>
											<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 padding-0">
								<div class="form-content">
									<form class="form-group" name="mngmnt_forgotpass">
										<h3>Forgot Your Password?</h3>
										<small>An email will be sent to the registered mail address.</small>
										<div class="input-group">
											<input type="text" class="form-control" name="email" placeholder="Email">
											<span id="forgotemail" class="input-group-addon"><i class="fas fa-check hide"></i><i class="fas fa-times hide" title="wrong"></i></span>
										</div>
										<br>
										<br>
										<input type="submit" class="btn btn-primary" id="mngmnt_forgotpass" value="Send Email">
									</form>
								</div>
							</div>
						</div>
					</section>

					<section class="forms Student_forgotpass">
						<div class="row margin-0 padding-0">
							<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 padding-0">
								<div class="left-form-image">
									<div class="left-form-image-layer">
										<div class="closebtn">
											<i class="fas fa-times"></i>
										</div>
										<h1>WELCOME TO</h1>
										<h5>GRIEVANCE REDRESSAL PORTAL</h5>
										<ul>
											<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</li>
											<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</li>
											<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 padding-0">
								<div class="form-content">
									<form class="form-group" name="Student_forgotpass">
										<h3>Forgot Your Password?</h3>
										<small>An email will be sent to the registered mail address.</small>
										<div class="input-group">
											<input type="text" class="form-control" name="email" placeholder="Email">
											<span id="forgotemail" class="input-group-addon"><i class="fas fa-check hide"></i><i class="fas fa-times hide" title="wrong"></i></span>
										</div>
										<br>
										<br>
										<input type="submit" class="btn btn-primary" id="Student_forgotpass" value="Send Email">
									</form>
								</div>
							</div>
						</section>

						<section class="forms Staff_forgotpass">
							<div class="row margin-0 padding-0">
								<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 padding-0">
									<div class="left-form-image">
										<div class="left-form-image-layer">
											<div class="closebtn">
												<i class="fas fa-times"></i>
											</div>
											<h1>WELCOME TO</h1>
											<h5>GRIEVANCE REDRESSAL PORTAL</h5>
											<ul>
												<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</li>
												<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</li>
												<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 padding-0">
									<div class="form-content">
										<form class="form-group" name="Staff_forgotpass">
											<h3>Forgot Your Password?</h3>
											<small>An email will be sent to the registered mail address.</small>
											<div class="input-group">
												<input type="text" class="form-control" name="email" placeholder="Email">
												<span id="forgotemail" class="input-group-addon"><i class="fas fa-check hide"></i><i class="fas fa-times hide" title="wrong"></i></span>
											</div>
											<br>
											<br>
											<input type="submit" class="btn btn-primary" id="Staff_forgotpass" value="Send Email">
										</form>
									</div>
								</div>
							</div>
						</section>

						<section class="forms Parent_forgotpass">
							<div class="row margin-0 padding-0">
								<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 padding-0">
									<div class="left-form-image">
										<div class="left-form-image-layer">
											<div class="closebtn">
												<i class="fas fa-times"></i>
											</div>
											<h1>WELCOME TO</h1>
											<h5>GRIEVANCE REDRESSAL PORTAL</h5>
											<ul>
												<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</li>
												<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</li>
												<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 padding-0">
									<div class="form-content">
										<form class="form-group" name="Parent_forgotpass">
											<h3>Forgot Your Password?</h3>
											<small>An email will be sent to the registered mail address.</small>
											<div class="input-group">
												<input type="text" class="form-control" name="email" placeholder="Email">
												<span id="forgotemail" class="input-group-addon"><i class="fas fa-check hide"></i><i class="fas fa-times hide" title="wrong"></i></span>
											</div>
											<br>
											<br>
											<input type="submit" class="btn btn-primary" id="Parent_forgotpass" value="Send Email">
										</form>
									</div>
								</div>
							</div>
						</section>

						<section class="forms Faculty_forgotpass">
							<div class="row margin-0 padding-0">
								<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 padding-0">
									<div class="left-form-image">
										<div class="left-form-image-layer">
											<div class="closebtn">
												<i class="fas fa-times"></i>
											</div>
											<h1>WELCOME TO</h1>
											<h5>GRIEVANCE REDRESSAL PORTAL</h5>
											<ul>
												<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</li>
												<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</li>
												<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 padding-0">
									<div class="form-content">
										<form class="form-group" name="Faculty_forgotpass">
											<h3>Forgot Your Password?</h3>
											<small>An email will be sent to the registered mail address.</small>
											<div class="input-group">
												<input type="text" class="form-control" name="email" placeholder="Email">
												<span id="forgotemail" class="input-group-addon"><i class="fas fa-check hide"></i><i class="fas fa-times hide" title="wrong"></i></span>
											</div>
											<br>
											<br>
											<input type="submit" class="btn btn-primary" id="Faculty_forgotpass" value="Send Email">
										</form>
									</div>
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>


			<!--Forgot Pass END-->
			<!--Here is the sidebar that disappears at medium width-->
			<div class="col-lg-3 padding-0">

				<div id="realsidemenu" class="wrapper">
					<!-- Sidebar -->
					<nav>
						<ul class="list-unstyled components">
							<li>
								<a class="admin-login" href="#">admin</a>
							</li>
							<li>
								<a class="management-login" href="#">management</a>
							</li>
							<li>
								<a class="faculty-login" href="#">faculty</a>
							</li>
							<li>
								<a class="gcm-login" href="#">Grievance cell member</a>
							</li>
							<li>
								<a class="student-login" href="#">student</a>
							</li>
							<li>
								<a class="parent-login" href="#">parent</a>
							</li>
							<li>
								<a class="nonteaching-login" href="#">nonteaching</a>
							</li>
						</ul>
					</nav>

				</div>
			</div>

		</div>

		<div class="tooltip">Hover over mekdfjhsjadhfjhdshdfhdfhsdhfsadjfklsjadksdf
			<span class="tooltiptext">Tooltip text</span>
		</div>

		<div class="info jumbotron container" id="about-us"><br><br>
			<h1 id="aboutheading">About Us</h1>

			<div id="aboutinfo" class="information">
				<h3>“Be Acknowledged Globally for Value based Education & Innovation in Service of Humankind”</h3>
				<p>
					The Anand International College of Engineering (Anand-ICE),   approved     by AICTE and affiliated to RTU, Kota is established at India’s Pink City-Jaipur  in year 2010. Since its inception, the institute persists its credentials  of  joyous teaching-learning environs of global standards and offers B.Tech. degree programme in five engineering disciplines i.e. Civil, Computer Science, Electrical, Electronics & Communication, and Mechanical Engineering. The institute nurtures intellectually inspiring Academic Environment at lush-green landscaped campus with state-of-the-art infrastructure.<br><br>

					The Anand-ICE has been distinguished for its qualitative teaching-learning processes that place it among the best emerging engineering institutions of India (Times of India). The Anand family comprises eminent academicians & scientists as faculty who also extend Academic parenting to the students. The family further broadens its intellectual arena by bringing internationally renowned professionals on board for achieving higher mark of academic intelligence.<br>
					The institute with Anand Edge, empowers students to redesign their curriculum through unique FSBT4 while facilitating students to not only deeply understand the fundamentals of engineering sciences but also train to obtain sustainable solutions of real-life problems.
					The institute extends strategic partnerships with various renowned foreign universities for exposing students through Abroad Training Programme. The institute also encourages the students to incubate their innovative concepts in order to foster new ventures.<br>
					The campus enriches students with diverse range of competencies through 390o evolving processes and gears them up to respond to the challenges of every aspect of life and compete globally.<br>
				The success of our students in the wider world itself speaks for them. Join us and be part of stream of success!</p>

			</div>
		</div>

		<div class="info jumbotron container" id="contact"><br><br>
			<h1 id="contactheading">Contact Us</h1>
			<div class="row">
				<div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
					<div id="contactinfo" class="information">
						<bold>Anand International College of Engineering</bold><br>
						AnandInternational College of Engineering ,NearKanota, Agra Road, Jaipur<br> 
						Phone: 01429- 234994, 95<br>
						Mobile: 9928755552, 9928755553 Fax: 01429- 234994<br>
						Email: info@anandice.ac.in<br><br>
					</div>
				</div>
				<div id="map" class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d16568.274592791873!2d75.96131806715803!3d26.861588901074704!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396db8be74c25e59%3A0x675325c0c46956fc!2sAnand+International+College+of+Engineering!5e0!3m2!1sen!2sin!4v1536426536774" allowfullscreen></iframe>
				</div>

			</div>
		</div>

		<a id="totop" title="Back To Top"></a>

		<footer>

			<div class="follow">
				<span>Follow Us</span><br>
				<a href="https://twitter.com/AnandcollegeEng" class="fab fa-twitter" target="_blank"></a>
				<a href="https://www.youtube.com/channel/UCAcHeVvVgwRx7wSWw69RgYg/" class="fab fa-youtube" target="_blank"></a>
				<a href="https://www.pinterest.com/anandice/" class="fab fa-pinterest-p" target="_blank"></a>
				<a href="https://plus.google.com/u/1/114413981688380933224" class="fab fa-google-plus-g" target="_blank"></a>
				<a href="https://www.facebook.com/Anand-International-College-of-Engineering-Jaipur-789735534445909/" class="fab fa-facebook-f" target="_blank"></a>
				<a href="https://www.instagram.com/anandcollege.eng/" class="fab fa-instagram" target="_blank"></a><br>

				<p>We Are The Influencers, Not The Followers!!!</p><br>
				<p>Designed By: Yo Yo Honey Singh</p>
			</div>

		</footer>



		<!-- Popper.JS -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
		<!-- Bootstrap JS -->
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		<script src="https://unpkg.com/scrollreveal"></script>
		<script src="/javascripts/home.js"></script>
		<script type="text/javascript" src="javascripts/validate.js"></script>

	</body>

	</html>