*{margin:0px; padding:0px; font-family:Helvetica, Ar, sans-serif;}

.home{
	background: url(m.jpg);
	background-size: 100%;
	width: 100%;
	height: 750px;
	margin-top: 0px;
}
.heading{
	width: 100%;
	height: 100px;
	background-color: rgba(0,0,0,0.4);
	line-height: 100px;
	text-align: center;
	font-weight: bold;
	font-size: 40px;
	color: darkblue;
}
.subheading{
	width: auto;
	height: auto;
	margin-top: 225px;
	margin-left: 300px;
	color: black;
	font-weight: bold;
	font-size: 35px;
}
.select{

	margin-top: 20px;
	margin-left: 350px;
	height: 30px;
	line-height: 30px;
	font-size: 25px;
	font-weight: bold;
	width: 300px;
	position: absolute;
	font-size: 1.5em;
	text-align: center;

}


.contant{
	margin-top: 310px;
	height: 50px;
	margin-left: 1100px;
}
.contant ul li{
	float: left;
	width: auto;
	list-style: none;
}
.contant ul li a{
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size :20px;
	margin-left: 30px;
}
.help{
	width: 100%;
	height: 600px;
	margin-top:0px;
}
.help_heading{
	width: 100%;
	height: 100px;
	background-color: rgba(250,250,250,0.5);
	line-height: 100px;
	text-align: center;
	font-weight: bold;
	font-size: 40px;
}
.contact{
	width: 100%;
	height: 600px;
	margin-top:0px;
}
.contact_heading{
	width: 100%;
	height: 100px;
	background-color: rgba(250,250,250,0.5);
	line-height: 100px;
	text-align: center;
	font-weight: bold;
	font-size: 40px;
}










//rv
.link{
	color: black;
}



.sidemenu {
    height: 100%;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    overflow-x: hidden;
    transition: .8s;
}

.sidemenu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.5em;
    color: #818181;
    overflow: hidden;
    transition: 0.5s;
}

.sidemenu a:hover {
    color: #f1f1f1;
    cursor: pointer;
}

.sidemenu .closebtn {
    position: absolute;
    top: 0;
    right: .6em;
    font-size: 2em;
    margin-left: 1em;
}

.switch{
	width: 20em;
	margin-top: 2em;
}

@media screen and (max-height: 450px) {
  .sidemenu {padding-top: 15px;}
  .sidemenu a {font-size: 18px;}
}


.login-register{
	margin: auto;
	margin-top: 5em;
	width: 30em;
	font-size: 1em;
    color: #818181;
    overflow: hidden;
    transition: 0.5s;
}

input[type=text], input[type=password], input[type=File] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 26px;
    text-align: left;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
	font-size:16px;
	border-radius: 5em;
}

button{
	outline: none;
	border-radius: 5em;
	text-align: center;
	width: 5em;
	font-size: 1.5em;
	padding: .2em .3em .2em .3em;
	margin-left: 1em;
	margin-top: .8em;
}

#check{
	margin-left: 1.5em;
	margin-top: 1em;
}

.login a{
	font-size: 1em;
	float: right;
}
.opendropmenu{
	cursor: pointer;
    border: solid black;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    opacity: .5;
    transition: .5s;
}

.opendropmenu:hover{
	opacity: 1;
}


.dropup{
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}


.dropdown{
	height: 0px;
	overflow-y: hidden;
	transition: 1s;
}

.dropdownheight{
	height: 12.5em;
}

.dropdown ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.dropdown ul li{
	cursor: pointer;
	margin-top: .5em;
	color: black;
	opacity: .8;
}
.dropdown ul li:hover{
	color: blue;
}
