<!--Grievance cell members-->
<!--Management-->
<div ng-app="grievances" ng-controller="Management_pending_user" ng-init="init('faculty')">
    <h1>Pending Faculty List</h1>
    <div id="pending_list" class="contenttable">
        <table class="table table-hover table-striped">
            <thead class="table-success">
                <tr>
                    <th>S.No.</th>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Department</th>
                    <th>Designation</th>
                    <th>Employee ID</th>
                    <th>Email ID</th>
                    <th>Mobile No.</th>
                </tr> 
            </thead>
            <tr ng-repeat="user in users">
                    <td>{{$index+1}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.gender}}</td>
                    <td>{{user.dep}}</td>
                    <td>{{user.Desig}}</td>
                    <td>{{user.id}}</td>
                    <td>{{user.emailid}}</td>
                    <td>{{user.mobileno}}</td>
                </tr>
        </table>
    </div>
    <div id="loading">
        <div class="loader">
        </div>
        
        <h1>Loading...</h1>
    </div>

</div>

