<!--Parent-->              
<h1>Post a Grievance</h1>

<form ng-submit="GrvPost()" ng-app="grievances" ng-controller="Management">
    <div class="form-group">
        <div class="row">
            <div class="col-sm-2 col-sm-offset-1">
                <label class="control-labell"> Grevience Type</label>
            </div>
            <div class="col-sm-7">
                <select class="chosen" ng-model="Gtype" style="border-radius: 1rem; height: 3rem; padding: .5rem;" required>
                    <!-- changes made by ankit sharma -->
                    <option value="">Select Grievance Type...</option>
                    <option ng-repeat="obj in grievance_type" value="{{obj.seq}}&{{obj.grvtype}}">{{obj.grvtype}}</option>
                </select>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-sm-2 col-sm-offset-1">
                <label class="control-label"> Subject</label>
            </div>
            <div class="col-sm-7">
                <textarea class="form-control" ng-model="subject" rows="3" data-val-required="The Description field is required." id="PostedDetails" name="PostedDetails" aria-required" maxlength="200" required></textarea>
            </div>
            <div class="col-sm-2">
                <span>(max 200 characters)</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-2 col-sm-offset-1">
                <label class="control-label"> Descripton</label>
            </div>
            <div class="col-sm-7">
                <textarea class="form-control" ng-model="Desc" rows="5" data-val-required="The Description field is required." id="PostedDetails" name="PostedDetails" aria-required" maxlength="3000" required></textarea>
            </div>
            <div class="col-sm-2">
                <span>(max 3000 characters)</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-2 col-sm-offset-1">
                <label class="control-label"> Files</label>
            </div>
            <div class="col-sm-7">
                <input ng-model="file" id="filecount" type="file" value="">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-2 col-sm-offset-3">
            <input class="btn btn-default" id="submit-grievance" type="submit" name="" value="Submit" >
        </div>
    </div>
</form>