<!--Student-->
<div class="content" ng-app="grievances" ng-controller="Student_grievances">
    <h1>Grievance Details</h1>
    <div id="grievances" class="contenttable">
        <table class="table table-hover table-striped">
            <thead class="table-success">
                <tr>
                    <th>S.No.</th>
                    <th>Grievance No.</th>
                    <th>Date</th>
                    <th>Grievance Type</th>
                    <th>Subject</th>
                    <th>Grievance</th>
                    <th>Status</th>
                    <th>Reminder/Reopen</th>
                </tr> 
            </thead>
            <tr ng-repeat="result in result">
                <td>{{$index+1}}</td>
                <td style="text-transform: uppercase;">{{result.grv_id}}</td>
                <td></td>
                <td>{{result.Gtype}} </td>
                <td>{{result.subject}}</td>
                <td>
                    <button id="viewbtn{{index+1}}" ng-click="popup(result.grv_id)" class="btn btn-primary tablebuttons"><span class="fas fa-eye"></span>View</button>
                </td>
                <td>{{result.status}}</td>
                <td>
                    <button id="remind{{index+1}}" class="btn btn-success tablebuttons"><span class="fa fa-clock-o"></span> Reminder</button>
                </td>
            </tr>
        </table>
    </div>
    <div id="loading">
        <div class="loader">
        </div>
        
        <h1>Loading...</h1>
    </div>

    <div class="detailbackground hide">
        <div class="detailpopup">
            
            <h1>Grievance Details</h1>

            <div class="detail-data">
                <table class="table table-striped">
                    <tr>
                        <td>Grievance Number</td>
                        <td style="text-transform: uppercase;">{{data.grv_id}}</td>
                    </tr>
                    <tr>
                        <td>Grievance Type</td>
                        <td>{{data.Gtype}}</td>   
                        <td></td>
                    </tr>
                    <tr>
                        <td>Subject</td>
                        <td>{{data.subject}}</td>
                    </tr>
                    <tr>
                        <td>Grievant</td>
                        <td>{{data.Grievant}}</td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td>{{data.status}}</td>
                    </tr>
                    <tr>
                        <td>Grievance Cell Member</td>
                        <td>{{data.GCM}}</td>
                    </tr>
                    <tr>
                        <td>Date</td>
                        <td>{{data.time}}</td>
                    </tr>
                    <tr>
                        <td>Grievance Details</td>
                        <td>{{data.Grv}}</td>
                    </tr>
                    <tr>
                        <td>Reply</td>
                        <td>{{data.reply}}</td>
                    </tr>
                    <tr>
                        <td>Grievance Documents</td>
                        <td>{{data.doc}}</td>
                    </tr>
                    <tr>
                        <td>Reply Documents</td>
                        <td>{{data.doc}}</td>
                    </tr>
                </table>
            </div>

            <div class="closebutton">
                <button id="closebutton" class="btn btn-default">Close</button>
            </div>

        </div>
    </div>

</div>

<script type="text/javascript">

    $('#closebutton').click(function(){
        $('.detailbackground').fadeOut(500);
    });
</script>
