<!--Grievance cell members-->
<!--Admin-->
<div ng-app="grievances" ng-controller="" ng-init="">
    <h1>Course List</h1>
    <div id="" class="contenttable hide">
        <table class="table table-hover table-striped">
            <thead class="table-success">
                <tr>
                    <th>S. No.</th>
                    <th>Name</th>
                    <th>Action</th>
                </tr> 
            </thead>
            <tr ng-repeat="">
                <td></td>
                <td></td>
                <td>
                    <button class="btn btn-success tablebuttons"><i class="far fa-edit"></i> Edit</button>
                </td>
            </tr>
        </table>
    </div>
    <div id="loading">
        <div class="loader">
        </div>
        
        <h1>Loading...</h1>
    </div>

</div>

