<!--Grievance cell members-->
<!--Admin-->
<div ng-app="grievances" ng-controller="Admin_GCM">
    <h1>Grievance Cell Members List</h1>
    <div>
        <button class="btn" id="createnew">Create New</button>
    </div>
    <div id="grievances" class="contenttable">
        <table class="table table-hover table-striped">
            <thead class="table-success">
                <tr>
                    <th>S.No.</th>
                    <th>Name</th>
                    <th>Designation</th>
                    <th>Email ID</th>
                    <th>Mobile No.</th>
                    <th>Action</th>
                </tr> 
            </thead>
            <tr ng-repeat="member in members">
                <td>{{$index+1}}</td>
                <td>{{member.name}}</td>
                <td>{{member.designation}}</td>
                <td>{{member.emailid}}</td>
                <td>{{member.mobileno}}</td>

                <td>
                    <button ng-click="Deactivate(member.emailid)" class="btn btn-danger">
                        Deactivate
                    </button>
                </td>
            </tr>
        </table>
    </div>

    <div class="detailbackground hide">
        <div class="detailpopup">

            <h1>Add New Member</h1>

            <div class="detail-data">
                <form class="form-group">
                    <div class="row">
                        <div class="col-sm-4 offset-sm-1">
                            <label class="label-control">Name:</label>
                            <input type="text" name="name" class="form-control" required>
                        </div>
                        <div class="col-sm-4 offset-sm-1">
                            <label class="label-control">Designation:</label>
                            <input type="text" name="desig" class="form-control" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 offset-sm-1">
                            <label class="label-control">Select Grievance Type:</label>
                            <br>
                            <small>*Use Ctrl(Windows)/Commang(Mac) button to select multiple.</small>
                            <select class="form-control" ng-model="Gtype" size="1" required multiple>
                                <option value="">Select</option>
                                <option ng-repeat="obj in grievance_type" value="{{obj.seq}}&{{obj.grvtype}}">{{obj.grvtype}}</option>
                            </select>
                        </div>
                        <div class="col-sm-4 offset-sm-1">
                            <label class="label-control">Email:</label>
                            <input type="text" name="" class="form-control" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 offset-sm-1">
                            <label class="label-control">Contact No.:</label>
                            <input type="number" name="mobile" class="form-control" maxlength="10" minlength="10" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 offset-sm-1">
                            <label class="label-control">
                                Is Management ?
                                <input type="checkbox" name="">
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 offset-sm-1">
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="closebutton">
                <button id="closebutton" class="btn btn-default">Close</button>
            </div>

        </div>
    </div>

    <div id="loading">
        <div class="loader">
        </div>
        
        <h1>Loading...</h1>
    </div>

</div>

<script type="text/javascript">
    $('#closebutton').click(function(){
        $('.detailbackground').fadeOut(500);
    });

    $('#createnew').click(function(){
        $('.detailbackground').fadeIn(500);
    });
</script>