*{
	padding: 0;
	margin: 0;
	//font-family: Verdana, Geneva, sans-serif;
	font-family: Poppins;
	font-size: 100%;
}

body {
	//font-family: sans-serif; 
	background-color: #fff;
	overflow-x: hidden;
}

/*.header{
	min-width: 100%;
	background-color: green;
}

.heading{
	color: white;
	padding: 1rem;
	padding-left: 2rem;
	font-size: 1.5rem;
	//border: .1rem solid red;
}

.content::-webkit-scrollbar{
	width: 1rem;
}
.content::-webkit-scrollbar-thumb{
	background: #aaa;
}

i{
	font-size: 2rem;
	color: white;
	opacity: .5;
}
i:hover{
	opacity: 1;
}

.logout{
	padding: 1rem;
	text-align: right;
	//border: .1rem solid red;
}

.wrapper{
	height: 100vh;
}

#lock-sidebar{
	padding: 0;
	border: .1rem solid white;
	width: 27rem;
	margin-left: 5rem;
}
#lock-sidebar h1{
	font-size: 3rem;
	line-height: 3rem;
	padding: 0;
	color: #fff;
	border: .1rem solid #fff;
}

#lock-sidebar button{
	border:.1rem solid #fff;
	height: 1rem;
	width: 1rem;
	border-radius: 50%;
	display: inline-block;
	margin-top: 3rem;
	background-color: transparent;
	opacity: .6;
	outline: none;
	transition: all .5s;
}
#lock-sidebar button:hover{
	opacity: 1;
}
.locked{
	background-color: #fff;
	opacity: 1;
}

.sidebar{
	position: relative;
	float: left;
	z-index: 1;
	padding-top: 3rem;
	padding-bottom: 5rem;
	width: 5rem;
	height: 100vh;
	background-color: #022051;
	transition: all .5s ease-in-out;
}

.sidebar-nav{
	padding: 0;
	list-style: none;
	overflow: hidden;
}

.sidebar-nav li{
	line-height: 4rem;
	margin: 1rem;
	margin-left: 0;
	width: 32rem;
}

.sidebar-nav a {
	display: block;
	text-decoration: none;
	color: rgba(250,250,250,.6);
	cursor: pointer;
	font-size: 1.5rem;
}

.sidebar-nav span{
	font-size: 2rem;
	padding: 1rem;
	padding-left: 1.5rem;
	padding-right: 2rem;
	float: left;
}

.sidebar-nav a:hover{
	color: rgba(255,255,255,1);
}

.sidebar:hover{
	width: 35rem;
	overflow-y: scroll;
}

.content-table1{
	font-size: 10rem;
}

.reports{
	display: none;
}
.cacwr{
	display: none;
}
.rbogt{
	display: none;
}
.rbogcm{
	display: none;
}

.reports li{
	color: #f2f2f2;
	padding: 0;
	padding-left: 5.5rem;
	margin: 0;
	line-height: 2rem;
	font-size: 1.5rem;
	margin-top: 2rem;
	list-style: none;
	cursor: pointer;
}
.reports li ul li{
	padding: 0;
	width: 26rem;
	padding-left: .5rem;
}

.content{
	background-color: #fff;
	//border: 1rem solid red;
	overflow: scroll;
	position: relative;
	padding: 2rem;
	padding-left: 0rem;
	height: 90vh;
	width: auto;
	transition: all .5s ease-in-out;
}

.content h1{
	width: 100%;
	background-color: #f2f2f2;
	padding: 1rem;
	padding-bottom: .5rem;
	font-weight: 20;
	font-size: 2rem;
}

.table td, .table th{
	padding: 2rem !important;
	text-align: left;
	font-size: 1.3rem;
	letter-spacing: .05rem;
}
.table{
	border: .01rem solid rgba(128,128,128,.3);
}

.nav-button{
	float: right;
	position: relative;
	right: 2rem;
}
.nav-button button{
	font-size: 1rem !important;
	margin: .5rem;
}

#SearchAndShow{
	padding: 2rem;
}
#SearchAndShow .form-group{
	font-size: 2rem !important;
}

.tablebuttons{
	font-size: 1rem !important;
	padding: .5rem;
}
.tablebuttons span{
	font-size: 1rem !important;
	padding-right: .5rem;
}




nav{
	font-size: 10rem;
	margin: 0;
	padding: 0;
}
*/
.hide{
	display: none;
}

.navbar{
	padding: 0;
}
#heading{
	padding: 0 1rem;
}

.navbar-dark{
	background-color: green !important;
}

.navbar-brand{
	color: #fff !important;
}

.nav-item a{
	font-size: 1.5rem;
	text-decoration: none;
	color: #fff;
	opacity: .5;
	transition: .3s;
}
.nav-item a:hover{
	opacity: 1;
}

h1{
	font-size: 1.8rem;
	padding: 1.5rem;
}

.realsidemenu{
	min-height: 100vh;
	height: auto;
	background-color: #022051;
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.realsidemenu ul li{
	font-size: 1.2rem;
	margin: 1rem;
}
.realsidemenu span{
	padding-left: .5rem;
	padding-right: 1.5rem;
	font-size: 1.2rem;
}
.realsidemenu ul li a{
	text-decoration: none;
	color: #fff;
	opacity: .5;
	transition: .5s;
}
.realsidemenu li a:hover{
	opacity: 1;
}

.contenttable{
	height: 50rem;
	width: auto;
	overflow: scroll;
	margin-bottom: 2rem;
}

#grievances{
	display: none;
	font-size: 1rem;
	border: .05rem solid #aaa;
	max-height: 30rem;
}
.tablebuttons{
	font-size: .7rem !important;
	padding: 0.2rem 0.5rem;
}

.detailbackground, .detailbackground-reply{
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.2);
	z-index: 19;
}

.detailpopup, .replyform{
	position: fixed;
	top: 10%;
	left: 15%;
	width: 70%;
	max-height: 80%;
	background-color: #fff;
	border: 0.5rem solid #aaa;
	z-index: 20;
}
.detailpopup h1, .replyform h1{
	font-size: 1.5rem;
}

.detail-data{
	position: relative;
	width: 100%;
	max-height: 20rem;
	margin: 0 auto;
	margin-top: 2rem;
	overflow: scroll;
}
.detail-data table{
	width: 95%;
	margin: 0 auto;
	font-size: 1rem;
}

.reply-details{
	width: 95%;
	overflow: scroll;
	margin: 0 auto;
	margin-top: 2rem;
	max-height: 15rem;
}
.reply-details table{
	width: 100%;
}

.closebutton{
	position: relative;
	width: 100%;
	background-color: #f3f3f3;
	padding: .5rem;
	padding-right: 1rem;
	text-align: right;
}
.closebutton button{
	font-size: 1rem;
}

#loading{
	text-align: center;
	font-size: 1rem;
}
.loader{
  position: relative;
  left: 48%;
  margin: 0 auto;
  height: 1rem;
  padding: 0;
}

.loader::before{
  content: '';
  display: block;
  width: 2rem;
  height: 2rem;
  border-top: .5rem solid #000;
  border-left: .5rem solid transparent;
  border-bottom: .5rem solid #000;
  border-right: .5rem solid transparent;
  border-radius: 50%;
  transform-origin: center;
  animation-name: spin;
  /*animation-fill-mode: forwards;*/
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-direction: normal;
  animation-delay: 0s;
}
@keyframes spin{
  0%{
    transform: rotateZ(0);
  }
  100%{
    transform: rotateZ(360deg);
  }
}

.loader::after{
  content: '';
  display: block;
  //position: absolute;
  width: 2rem;
  height: 2rem;
  border: .1rem solid #fff;
  border-radius: 50%;
}


@media screen only and (max-width: 992px){
	#realsidemenu{
		display: none;
	}
	.realsidemenu{
		padding: 0;
	}

	.contenttable{
		height: 30rem;
	}

}

.detailbackground input[type=text],
.detailbackground input[type=number],
.detailbackground textarea,
.detailbackground select{
	border: .1rem solid #000;
	margin-bottom: 1rem;
}