input[type=text]{
	font-size: 1rem;
}

.form-group{
	font-size: 1rem !important;
}

.btn {
	font-size: 1rem;
	border: .05rem solid #aaa;
}

select{
	font-size: 1rem;
	min-width: 50%;
	padding: 0rem;
	border-radius: .2rem;
	outline: none;
}

select option{
	font-size: 1rem;
}

#account-details{
	display: none;
}