<h1>Change Password</h1>
 <body >
<form ng-submit="resetpass()" ng-app="grievances" ng-controller="myaccount">
    <div class="details" >
    <table>
        <tr>
            <td>Current Password</td>
            <td><input type="password" ng-model="current_password" ng-init="current-password=''"></td>
        </tr>
        <tr>
            <td>New Password</td>
            <td><input type="password" ng-model="new_password"></td>
        </tr>
        <tr>
            <td>Confirm Password</td>
            <td><input type="password" ng-model="new_password1"></td>
        </tr>
        <tr>
            <td></td>
            <td><button type="submit">Update</button></td>
        </tr>
    </table>

</div>
</form>
</body>